# Tags
tags

# Antlr build files
apppal/logic/grammar/AppPALBaseListener.java
apppal/logic/grammar/AppPALBaseVisitor.java
apppal/logic/grammar/AppPALLexer.java
apppal/logic/grammar/AppPALListener.java
apppal/logic/grammar/AppPALParser.java
apppal/logic/grammar/AppPALVisitor.java


### https://raw.github.com/github/gitignore/4a9d41f8947b9fe5850914abb7e59a59e1ae2cb6/java.gitignore

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### https://raw.github.com/github/gitignore/4a9d41f8947b9fe5850914abb7e59a59e1ae2cb6/gradle.gitignore

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar


